.row
	.col-md-6
		= render "shared/errors"
		%div.pretty-box.setup-api-access
			= form_tag users_setup_api_access_path, id: "edit-company", role: "form", class: "form-horizontal" do
				.form-group{class: @errors[:api_key] ? "has-error" : ""}
					%label.col-sm-2.control-label{for: :api_key} Llave de acceso
					.col-sm-10
						= text_field_tag :api_key, params[:api_key], placeholder: "Llave de acceso", class: "form-control"
						%span.help-block 
							La llave tiene una forma parecida a ésta:
							%em "bf10f65c-de86-2eca-bdb6-9a9945dd0b08".
							Ingrésala sin comillas. 
				%div.form-group{class: @errors[:uri] ? "has-error" : ""}
					%label.col-sm-2.control-label{for: :uri} URL de API
					.col-sm-10
						= text_field_tag :uri, params[:uri], placeholder: "URL de acceso a la API", class: "form-control error"
						%span.help-block 
							No deberías tocar este dato a menos que sepas lo que estás haciendo.
						
				.form-group
					.col-sm-offset-2.col-sm-10
						%button.btn.btn-info{type: "submit"}
							Conectar con la API
							%span.glyphicon.glyphicon-chevron-right
	.col-md-6
		.callout.callout-info
			%h4 Cómo obtener la llave de acceso a la API
			%p 
				
				Para obtener la llave de acceso, entra a 
				%a{href:"http://apibanca.herokuapp.com"} API-Banca
				y selecciona la opción 
				%code API-Keys
				del menú. La llave tiene una forma parecida a ésta:
				%em "bf10f65c-de86-2eca-bdb6-9a9945dd0b08".
				%strong Ingrésala sin comillas.


- content_for :script do
	:plain
		// RUT Empresa
		var error = false;
		$("#company_rutb").rut({ formatOn: 'keyup' }).on('rutInvalido', function(){
			$("#rut-group").removeClass("has-success").addClass("has-error");
			$("input#rut").val("");
			error = true;
		}).on('rutValido', function(e, rut, dv){
			$("#rut-group").removeClass("has-error").addClass("has-success");
			$("input#rut").val(rut);
			error = false;
		});

		$("form#edit-company").submit(function(e) {
			if(error) { e.preventDefault(); }
		});