.row
	.col-md-12
		.callout.callout-info
			%h4 Banco
			%p 
				Detalle del banco
				%code #{@bank.combination_short}
.row
	.col-md-12
		.pretty-box.bank
			%form.form-horizontal{ role: "form" }
				.form-group
					%label.col-sm-4.control-label Bank ID
					.col-sm-8
						%input.form-control{ type: "text", value: @bank.combination, disabled: "disabled" }
				.form-group
					%label.col-sm-4.control-label Estado
					.col-sm-8
						%input.form-control{ type: "text", value: @bank.status, disabled: "disabled" }
				.form-group
					%label.col-sm-4.control-label Nombre del banco
					.col-sm-8
						%input.form-control{ type: "text", value: @bank.name, disabled: "disabled" }
				.form-group
					%label.col-sm-4.control-label Usuario
					.col-sm-8
						%input.form-control{ type: "text", value: @bank.user, disabled: "disabled" }
				.form-group
					%label.col-sm-4.control-label Cuenta
					.col-sm-8
						%input.form-control{ type: "text", value: @bank.account, disabled: "disabled" }
				.form-group
					.col-sm-offset-4.col-sm-8
						%a.btn.btn-info{href: bank_deposits_path(bank_id: @bank.id)}
							Ver depósitos
							%span.glyphicon.glyphicon-chevron-right
						%a.btn.btn-danger{href: bank_path(id: @bank.id), :"data-method" => :delete}
							Eliminar
							%span.glyphicon.glyphicon-trash

.callout.callout-info
	%h4 Rutinas
	%p 
		Rutinas asociadas a este banco
		%code #{@bank.name}
.row
	.col-md-12
		.pretty-box.job-table
			%table.table.table.table-striped
				%tr
					%th ID
					%th Tipo
					%th Frecuencia
					%th Objetivo
					%th Tareas agendadas
				- @bank.routines.each do |r|
					%tr
						%td=r.id
						%td=r.nombre
						%td=r.frequency
						%td=r.target
						%td=r.task_count

- content_for :script do
	:plain